.playButton {
    padding: 10px;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    border: 2px solid #C5A800;
    border-radius: 15px;
    cursor: pointer;
}

.effectNames {
    position: relative;
    text-align: center;
    padding: 20px;
}

.delayName {
    margin: auto;
    font-size: 100%;
    padding: 5px;
    border: 2px solid white;
    width: 180px;
    border-radius: 30px;
}

h3 {
    text-align: center;
    padding-left: 6px
}

.soundWarning h4 {
    font-size: 23px;
    color: #bb0000;
}

.effectsAudioExmples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.effectButton2 {
    padding-top: 20px;
}

/* Adjustments to the properties above for responsiveness. */
@media screen and (max-width: 700px) {

    .effectButton2 {
        padding-top: 50px;
    }
}
