.oscillatorContent h1 {
    color: #bb0000;
    padding-top: 20px;
    font-size: 39px;
}

.oscillatorContent h2 {
    color: #bb0000;
    padding-top: 20px;
    font-size: 28px
}

h3 {
    color: #bb0000;
}

.waveFormImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    cursor: pointer;
}

.waveFormImages h3 {
    padding-top: 10px;
}

.sinWave {
    opacity: 0.5;
}

.sinWave:hover {
    opacity: 1;
}

.squareWave {
    opacity: 0.5;
}

.squareWave h3 {
    position: relative;
    top: 7px;
    left: 3px;
}

.squareWave:hover {
    opacity: 1;
}

.triangleWave {
    opacity: 0.5;
}

.triangleWave h3 {
    position: relative;
    bottom: 8px;
    left: 3px
}

.triangleWave:hover {
    opacity: 1;
}

.sawToothWave {
    opacity: 0.5;
}

.sawToothWave h3 {
    position: relative;
    bottom: 5px;
}

.sawToothWave:hover {
    opacity: 1;
}

.waveFormImages img:hover {
    opacity: 1;
}

.soundWarning h4 {
    font-size: 23px;
    color: #bb0000;
}

.lfoInstructions {
    padding: 0px 0px 0px 2%;
}

.lfoInstructions li {
    padding: 10px;
}

.nextPageOsc {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    text-align: right;
    cursor: pointer;
    transition-duration: 0.5s;
}

.nextPageOsc a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

.nextPageOsc:hover a {
    font-size: 26px;
    color: #3F4ADD;
}

@media screen and (max-width: 1083px) {

    .waveFormImages {
        margin-left: 30px;
        padding: 40px 0px 40px 0;
        grid-template-columns: 1fr 1fr;
        cursor: pointer;
    }

    .waveFormImages h3 {
        padding: 10px
    }
}