/* Oscillator Page Slider Styling*/

h4 {
    font-size: 12px;
    padding-top: 7px;
}

.oscControls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.controlLabels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 12px;
    color: white;
}

.oscControls input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    background: transparent;
}

.oscControls input[type="range"]:focus {
    outline: none;
}

.oscControls input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    height: 2px;
}

.oscControls input[type="range"]::-moz-range-track {
    background: white;
    height: 2px;
}

.oscControls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 10px;
    background: #A90003;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

.oscControls input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 10px;
    background: #A90003;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

/* Filter Page Slider Styling*/

.filterControlLabels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 12px;
    color: white;
}

.slider {
    cursor: pointer;
    padding-top: 20px;
}

.filterControls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 10px;
}

.filterControls input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    background: transparent;
    padding: 10px;
}

.filterControls input[type="range"]:focus {
    outline: none;
}

.filterControls input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    height: 2px;
}

.filterControls input[type="range"]::-moz-range-track {
    background: white;
    height: 2px;
}

.filterControls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 10px;
    background: #3C33C9;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

.filterControls input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 10px;
    background: #3C33C9;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

/* Envelope Page Slider Styling*/

.envelopeControls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.envelopeControls input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    background: transparent;
    padding-top: 50px;
}

.envelopeControls input[type="range"]:focus {
    outline: none;
    padding-top: 50px;
}

.envelopeControls input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    height: 2px;
}

.envelopeControls input[type="range"]::-moz-range-track {
    background: white;
    height: 2px;
}

.envelopeControls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 10px;
    background: #0E7E06;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

.envelopeControls input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 10px;
    background: #0E7E06;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

/* Effects page slider styling*/

.effectsControls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.effectsControls input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    background: transparent;
}

.effectsControls input[type="range"]:focus {
    outline: none;
}

.effectsControls input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    height: 2px;
}

.effectsControls input[type="range"]::-moz-range-track {
    background: white;
    height: 2px;
}

.effectsControls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 10px;
    background: #AE9000;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

.effectsControls input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 10px;
    background: #AE9000;
    margin-top: -5px;
    border-radius: 20%;
    border: 20px;
}

.slider h4 {
    font-size: 10px;
}

/* Adjustments to the properties above for responsiveness. */
@media screen and (max-width: 1083px) {

    .oscControls {
        grid-template-columns: 1fr 1fr;
    }

    .oscControls h4 {
        padding: 20px;
    }

    .envelopeControls {
        grid-template-columns: 1fr 1fr;
    }

    .controlLabels {
        grid-template-columns: 1fr 1fr;
    }

    .filterControls {
        grid-template-columns: 1fr;
    }

    .filterButtons {
        padding: 13px 0px 13px 0px;
    }

    .effectsControls {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 531px) {

    .oscControls {
        grid-template-columns: 1fr;
    }

    .envelopeControls {
        grid-template-columns: 1fr;
    }

    .oscControls h4 {
        padding: 10px;
    }

    .filterControls {
        grid-template-columns: 1fr;
    }

    .filterButtons {
        padding: 30px;
    }

    .filterControlLabels {
        grid-template-columns: 1fr 1fr;
    }

    .effectsControls {
        grid-template-columns: 1fr;
    }
}